* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 11.8rem;
    text-align: center;
    color: #fff;
    border-radius: 999px;
    background: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 5rem;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    margin-right: 1rem;
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.116rem;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 6.8rem; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.076rem;
}

.desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.main-content {
    width: 117rem;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}
/* Header */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -2.8rem;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 3.6rem 0 0.8rem;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    left: 21px;
    bottom: 6px;
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background: #171100;
}

.header .sign-up-btn {
    margin-left: 7rem;
    min-width: 14.4rem;
}

/* Hero */

.hero {
    padding: 5.6rem 0 6.5rem;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 47rem;
    height: 68.6rem;
    object-fit: cover;
    border-radius: 2rem;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    width: 27rem;
    padding: 2.4rem;
    right: 0;
    bottom: 4.8rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 2.2rem;
}

.hero-summary .icon {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .info {
    margin-left: 1.6rem;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 6.4rem 0 0 13rem;
}

.hero .desc {
    margin-top: 2.2rem;
    width: 47rem;
    --line-clamp: 2;
}

.hero .cta-group {
    display: flex;
    margin: 3.8rem 0rem 4.8rem;
}

.hero .hero-cta {
    min-width: 18rem;
    line-height: 6.4rem;
    background-color: var(--primary-color);
}

.hero .watch-video {
    width: 20.2rem;
    background: #fffcf4;
    display: flex;
    margin-left: 2.8rem;
    border: none;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 1.4rem;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.hero .stats strong {
    margin-right: 0.8rem;
    font-family: var(--font-heading);
    color: #171100;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem; /* 122.727% */
}

.hero .stats strong + strong {
    margin-left: 2.8rem;
}

.hero .stats {
    margin-top: 0.8rem;
}

/* Popular */

.popular {
    padding: 6.5rem 0;
    margin-top: 13.5rem;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 1.6rem;
    width: 45.8rem;
}

.popular-top .controls {
    display: flex;
    gap: 1.8rem;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.popular .course-list {
    margin-top: 5.5rem;
    gap: 3rem;
    display: flex;
}

.popular .course-item {
    flex: 1;
    border-radius: 1.2rem;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 27.8rem;
    margin: -1px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
}

.popular .course-item .info {
    padding: 1.6rem 2.2rem 2.2rem;
}

.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    margin-right: 0.6rem;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.popular .rating .value {
    padding-left: 0.6rem;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.popular .course-item .desc {
    font-size: 1.4rem;
    line-height: 2.6rem;
}
.popular .course-item .foot {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .book-btn {
    border: none;
    font-size: 1.4rem;
}

.popular .course-item .book-btn:hover {
    border-radius: 2.5rem;
    background: var(--primary-color);
}

/* Feedback */

.feedback {
    margin-top: 13.5rem;
    padding: 9.6rem 0;
    background-color: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 1.8rem;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 0.4rem;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
    margin-top: 2.8rem;
}

.feedback-item .dot {
    width: 0.6rem;
    height: 0.6rem;
    background-color: #634700;
    border-radius: 50%;
    margin-right: 0.6rem;
    cursor: pointer;
}
.feedback-item .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    width: 66%;
}

.feedback-item blockquote {
    margin-left: 3rem;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 4rem; /* 153.846% */
}

.feedback-item .content .open-quotes {
    width: 3rem;
    line-height: 2.8rem;
}

/* Features */
.features {
    margin-top: 13.5rem;
    padding: 6.5rem 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 3rem;
}

.features .images img {
    width: 27rem;
    height: 40.4rem;
    object-fit: cover;
    border-radius: 1.6rem;
}

.features .images img:first-child {
    margin-top: 3.4rem;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .content .desc {
    margin-top: 1.6rem;
    width: 45.8rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.features .content .cta-btn {
    margin-top: 3.2rem;
    min-width: 13.7rem;
}

.features .content .cta-btn:hover {
    background-color: var(--primary-color);
}

/* Features-nd2 */
.features-nd2 {
    margin-top: 7rem;
}

.features-nd2 .body {
    flex-direction: row-reverse;
}

.features-nd2 .content {
    width: 49%;
}

.features-nd2 .images img {
    width: 47rem;
    height: 44rem;
}

/* Blog */
.blog {
    margin-top: 13.5rem;
    padding-top: 9.6rem;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 1.6rem auto auto;
    width: 44.8rem;
    font-size: 1.6rem;
}

.blog .blog-list {
    margin-top: 5.5rem;
    display: flex;
    gap: 0 3rem;
    overflow: hidden;
}

.blog .blog-item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    border-radius: 1.6rem;
    background-color: #ffffff;
}

.blog .blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-item .thumb {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 1.6rem 1.6rem 0rem 0rem;
}

.blog .blog-item .info {
    padding: 2rem 2rem 2.8rem;
}

.blog .blog-item .date {
    position: relative;
    display: inline-flex;
    padding-bottom: 1.2rem;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}

.blog .blog-item .date::before {
    content: "";
    margin-right: 0.4rem;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.blog .blog-item .date::after {
    position: absolute;
    left: 0;
    right: -2.7rem;
    bottom: 0;
    content: "";
    height: 0.1rem;
    border-radius: 0.05rem;
    background: #e2dfda;
}

.blog .blog-item .title a {
    display: inline-block;
    margin-top: 1.2rem;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.blog .blog-item .btn {
    margin-top: 1.2rem;
    font-size: 1.4rem;
}

.blog .blog-item .btn:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    margin-top: 3.8rem;
    padding-bottom: 9.6rem;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.blog .dots .dot {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dots .dot.active {
    cursor: default;
    background-color: var(--primary-color);
}

/* Footer */

.footer {
    padding: 9.6rem 13.5rem 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 3.8rem;
    border-bottom: 1px solid #59554b;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .row .column {
    width: 21.6%;
}

.footer .column .desc {
    margin-top: 1.8rem;
    max-width: 26.7rem;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}

.footer .socials {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.8rem;
}

.footer .socials .icon {
    height: 1.5rem;
}

.footer .title {
    display: inline-block;
    padding: 0 4.8rem 1.4rem 0;
    border-bottom: 1px solid #59554b;
    color: #fff;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.footer .list {
    margin-top: 2.8rem;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 1.2rem;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    color: #fff;
    font-weight: 600;
}

.footer .list .fid {
    width: 23.1rem;
    display: inline-block;
    margin-bottom: 1.2rem;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.footer .copyright {
    padding: 2.8rem 0;
}

.footer .copyright p {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}
